DATABASE_URL=mongodb://localhost:27017
DATABASE_NAME=bedrock
SECRET_KEY=thisbetterbesecretkey
GEMINI_API_KEYS=["DUMMY_KEY_1","DUMMY_KEY_2","DUMMY_KEY_3"]
TAVILY_API_KEY=TAVILY_API_KEY
OPENAI_API_KEY=DUMMY_KEY
USE_VISION_MODEL=True
LOCAL_BASE_URL=http://localhost
CUDA_VISIBLE_DEVICES=0